h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: -.01em;
    font-family: family('heading');
}



h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 1.75rem;
}

sup {
    font-weight: 400;
}

p.lead {
    font-size: 2rem;
    color: #454545;
}

.usa-hero {
    background: #e1e7f1;
    font-size: 1.5rem;
}

.usa-footer__logo img,
.usa-logo img {
    border: 1px solid #ffffff;
    border-radius: 3px;
}

.usa-current {
    background: #ffffff;
}

.usa-nav__link,
.usa-footer__primary-link {
    font-size: 1.1rem;
}

.usa-hero__callout {
    max-width: 40rem;
}

.usa-hero__heading {
    font-size: 3.5rem;
    line-height: 3.2rem;
}

.usa-button a {
    background-color: #2f4668;
    color: #ffffff;
    text-decoration: none;
}

.usa-hero__callout {
    padding: 2rem 0;
}

.usa-hero .usa-hero__callout h1,
.usa-hero .usa-hero__callout h2,
.usa-hero .usa-hero__callout h3,
.usa-hero .usa-hero__callout h4,
.usa-hero .usa-hero__callout h5,
.usa-hero .usa-hero__callout h6 {
    color: #1b1b1b;
}

.usa-header--extended .usa-logo {
    font-size: 1.6rem;
}

.usa-card-group {
    padding-top: 1rem;
}

.guide-breadcrumb {
    border-bottom: 1px solid #f0f0f0;
    margin-bottom: 2rem;
}

.guide-main {
    margin-bottom: 1rem;
}

.usa-card__img {
    background: #1b1b1b;
}

.usa-sidenav {
    border: 1px solid #f0f0f0;
    margin-bottom: 2rem;
}

a.list-group-item {
    border-bottom: 1px solid #f0f0f0;
}

.usa-footer {
    border-top: 1px solid #f0f0f0;
    margin-top: 2rem;
}

img.usa-media-block__img {
    max-width: 124px;
}

.font-heading-xl {}

.usa-graphic-list {
    margin-bottom: 2rem;
}

.guide-main blockquote {
    border-left: 5px solid #f0f0f0;
    padding-left: 1rem;
}

.usa-button,
.usa-button:hover,
.usa-hero .usa-hero__callout .usa-button {
    background-color: #2f4668;
}

.usa-social-link--linkedin {
    background-image: url("../uswds/img/social-icons/linkedin25.svg"), linear-gradient(transparent, transparent);
    background-repeat: no-repeat;
}

.usa-social-link--github {
    background-image: url("../uswds/img/social-icons/github25.svg"), linear-gradient(transparent, transparent);
    background-repeat: no-repeat;
}

.author p,
.post-bio p {
    font-size: 1rem;
}

.post-bio {
    border-top: 1px solid #c9c9c9;
    margin-top: 2rem;
    padding: .5rem 0;
}

.post-content p, .post-content li {
    font-size: 1.2rem;
    line-height: 2rem;
}

.people img {
    border-radius: 50%;
}

.author img {
    border-radius: 50%;
    max-width: 75px;
}


.usa-card__img a,
.usa-card__img a:visited {
    color: #ffffff;
    display: block;
}

.usa-card-group {
    padding-top: 1rem;
}

.card-guide {
    padding: 3rem 1rem;
}

.usa-card__img {
    background: color('violet-warm-70v');
}

.guide-container {
    padding: 1rem;
}

.guide-title {
    font-weight: bold;
}

.intro {
    padding: 1rem 0;
    font-size: 1.25rem;
}